<component name="libraryTable">
  <library name="web">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/PFA_spring/lib/web/thymeleaf-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/PFA_spring/lib/web/javax.servlet.jsp.jstl-1.2.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/PFA_spring/lib/web/thymeleaf-2.1.3.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/PFA_spring/lib/web/ognl-3.0.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/PFA_spring/lib/web/unbescape-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/PFA_spring/lib/web/thymeleaf-spring4-2.1.3.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/PFA_spring/lib/web/javax.servlet.jsp.jstl-api-1.2.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/PFA_spring/lib/web/thymeleaf-spring4-2.1.3.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/PFA_spring/lib/web/thymeleaf-spring4-2.1.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/PFA_spring/lib/web/thymeleaf-2.1.3.RELEASE-javadoc.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>